{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="col-md-8">
		<h1>Categories</h1>

		{% if categoryLen > 0 %}

			<div class="col-lg-10"> 
			<div>
				<div class="input-group">
	              <input type="text" name="q" class="form-control" placeholder="Search...">
	              <span class="input-group-btn">
	                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
	              </span>
	            </div>
			</div>
			<br>
	            <table id="items-dt" class="table table-striped" cellspacing="0" width="100%">
	                <thead>
	                    <tr style="background-color:#F5F5F5;">
	                        <th>Category Name</th>
	                        <th>Description</th>
	                        <th width="15%">Actions</th>
	                    </tr>
	                </thead>            
	                <tbody> 
	                    {% for category in categories %}                
	                    <tr style="background:white;">                            
	                        <td>{{ category.name }}</td>
	                        <td>{{ category.description }}</td>
	                        <td>                           
	                            <a href="/dashboard/update_category/{{category.id}}/" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> </a>
	                            <button onclick="confirmCategoryDelete({{category.id}});" class="btn btn-danger" aria-label="Delete"><span class="glyphicon glyphicon-remove"></span></button>
	                        </td>                 
	                    </tr> 
	                    {% endfor %}
	                </tbody>
	            </table>
	        </div>

		{% else %}
		<p> Category is currently empty.</p>
		{% endif %}
	</div>
{% endblock %}